{% extends 'core.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign in{% endblock %}
{% block head %}
    <h2  class="text-center" style="font-weight: bolder;">Sign in</h2>
    <p  class="text-center">Don't have an account? <a href="/accounts/signup/" style="text-decoration: ;">Sign up</a></p>
{% endblock %}
{% block form %}
{{ form|crispy }}
<a href="/accounts/password_reset/">Forgot password?</a><br>
<br>
<button class="btn btn-main" style="width: 100%;" type="submit">Sign in</button><hr>
<div id="buttonDiv" data-text="sign_in"></div><br>
{% endblock %}
