{% extends 'core.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}
{% block head %}
    <h2  class="text-center" style="font-weight: bolder;">Reset your password</h2>
<!--    <p  class="text-center">-->
    <p  class="text-center">Enter your email address to reset your password or <a href="{% url 'login' %}" style="text-decoration: ;">sign in to your account</a><!--You may need to check your spam folder--></p>
{% endblock %}
{% block form %}
{{ form|crispy }}
<br>
<button class="btn btn-main" style="width: 100%;" type="submit">Send email confirmation</button><hr>
<!--<button class="btn btn-main" style="width: 100%;" type="submit">Reset Password</button><hr>-->
<!--<div id="buttonDiv" data-text="sign_in"></div><br>-->
{% endblock %}
