{% extends 'core.html' %}
{% load crispy_forms_tags %}
{% block title %}Change Password{% endblock %}
{% block head %}
    <h2  class="text-center" style="font-weight: bolder;">Change Password</h2>
<!--    <p  class="text-center">Enter your Email Below</p>-->
{% endblock %}
{% block form %}
{% if validlink %}
{{ form|crispy }}
<br>
<button class="btn btn-main" style="width: 100%;" type="submit">Change password</button><hr>
{% else %}
    <h4>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset <a href="{% url 'password_reset' %}">here</a>.
    </h4>
{% endif %}
<!--<div id="buttonDiv" data-text="sign_in"></div><br>-->
{% endblock %}
