{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{duser.username}}{% endblock %}
{% block profile_active %}active{% endblock %}
{% block head %}<link href="{% static 'css/profile.css' %}" rel="stylesheet">{% endblock %}
{% block content %}

    <div class="main-body">

          <!-- Breadcrumb -->
<!--          <nav aria-label="breadcrumb" class="main-breadcrumb">-->
<!--            <ol class="breadcrumb">-->
<!--              <li class="breadcrumb-item"><a href="/">Home</a></li>-->
<!--              <li class="breadcrumb-item"><a href="javascript:void(0)">{{duser.username}}</a></li>-->
<!--              <li class="breadcrumb-item active" aria-current="page">User Profile</li>-->
<!--            </ol>-->
<!--          </nav>-->
          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
<!--                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">-->
                    <img src="{{ MEDIA_URL }}{{ duser.avatar }}" alt="{{duser.username}} Avatar" class="rounded-circle" width="150" height="150">
                    <div class="mt-3">
                      <h4>{{duser.username}}{% if duser.is_verified %}<img src="{% static 'img/verify.png' %}" class="verified text-center" width="10">{%endif%}</h4>
                        <pre style="background-color: #95A5A6; color: white;" class="text-secondary mb-1"><span class="text">New User</span></pre>
                      <p class="text-muted font-size-sm">{{duser.bio|default_if_none:" "}}</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary" onclick="dev()">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">{{duser.website|default_if_none:" "}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tiktok mr-2 icon-inline"><path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"></path></svg>Tiktok</h6>
                    <span class="text-secondary">@{{duser.tiktok|default_if_none:" "}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">@{{duser.twitter|default_if_none:" "}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">@{{duser.instagram|default_if_none:" "}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">{{duser.facebook|default_if_none:" "}}</span>
                  </li>
                </ul>
                {% if duser.user == user %}
                <a href="#social_edit"><button class="btn btn-dark" onclick="$('#social_edit').toggle()">Edit</button></a>
                {% endif %}
              </div>

              <div class="card mt-3" id="social_edit" style="display: none;">
                    <div class="card-body">
                      <h3>Update your socials</h3>
                      <h6>All fields are optional</h6>
                      <form method="post" action="social_edit">
                        {% csrf_token %}
                        {{social_form|crispy}}
                        <input type="submit" class="btn btn-dark" value="Update">
                        <button class="btn btn-danger pull-right" onclick="$('#social_edit').hide()"> Close </button>
                      </form>
                    </div>
                  </div>
                </div>
            <div class="col-md-8">

<!--              Info Card-->
              {% if duser.user == user %}
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Full Name</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{duser.full_name|default_if_none:" "}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Email</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" onClick="this.select();">
                      {{duser.user.email}}
                    </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Phone</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{duser.phone|default_if_none:" "}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a href="#edit"><button class="btn btn-dark" onclick="$('#edit').toggle()">Edit</button></a>
<!--                      <a class="btn btn-info " target="__blank" href="/accounts/{{duser.username}}/edit">Edit</a>-->
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="row gutters-sm" style="display: none;" id="edit">
                <div class="col-12">
                  <div class="card mb-3">
                    <div class="card-body">
                      <form method="post" action="edit">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" class="btn btn-dark" value="Update profile">
                        <button class="btn btn-danger pull-right" onclick="$('#edit').hide()"> Close </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="{% if duser.user == user %}col-6{% else %}col{% endif %} mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      {% if duser.user == user %}
                      <h5 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">My Awards: </i>Received</h5>
                      {% else %}
                      <h5 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Awards Received</i></h5>
                      {% endif %}
                      <!--                      <small>Fans</small>-->
<!--                      <div class="progress mb-3" style="height: 5px">-->
<!--                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                      </div>-->
                      {% for awarditem in duser.user.awards_received %}
                      <a class="" data-id="{{awarditem.get_anon_id}}" data-owner="{{comment.author}}" data-parent="{{comment.get_anon_id}}" data-award="{{awarditem.award.id}}">
                          <img src="{% static 'img/awards' %}/{{ awarditem.award.image }}"
                               alt="{{awarditem.award.name}} - Award"
                               title="{{ awarditem.award.name}}"
                               class="award-none"
                          >{{ awarditem.award.name}}<strong class="d-flex" style="justify-content: right;">{{ awarditem.quantity}}</strong></a>
                      {% endfor %}
                    </div>
                    <p><b>Exchange Value:</b> {{duser.user.exchangeval}} NGN <i class="fa fa-info" title="Test title"></i></p>
                    {% if duser.user == user %}<button class="btn btn-main" onclick="dev();">Exchange / Withdraw</button>{% endif %}
                  </div>
                </div>
                <div class="{% if duser.user == user %}col-6{% else %}d-none{% endif %} mb-3">
                  <div class="card h-100">
                    <div class="card-body">

                      <h5 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">My Awards: </i>Purchased</h5>
<!--                      <small>Fans</small>-->
<!--                      <div class="progress mb-3" style="height: 5px">-->
<!--                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                      </div>-->
                      {% for awarditem in duser.user.awards %}
                      <a class="" data-id="{{awarditem.get_anon_id}}" data-owner="{{comment.author}}" data-parent="{{comment.get_anon_id}}" data-award="{{awarditem.award.id}}">
                          <img src="{% static 'img/awards' %}/{{ awarditem.award.image }}"
                               alt="{{awarditem.award.name}} - Award"
                               title="{{ awarditem.award.name}}"
                               class="award-none"
                          >{{ awarditem.award.name}}<strong class="d-flex" style="justify-content: right;">{{ awarditem.quantity}}</strong></a>
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col mb-3">
                  <div class="card h-100">
                    <div class="card-body">

                      <h5 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Social Score: </i>Bronze Level</h5>
                      <small>Comment Engagements</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Post Created</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Awards Received</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Vote Polarity Ratio</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Fans</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>

{% endblock %}
