body{
  color: #1a202c;
/*    color: #F2F4AD;*/
    text-align: left;
    background-color: #F0F0F0;
/*    background: black url(../img/banner3.jpg)  no-repeat fixed center;*/
/*    background-color: #101D1E;*/
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
/*    background-color: #90A6A0;*/
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.verified {
    width: 17px;
    height: 17px;
    margin: 0px 0px 0px 3px;
    padding: 0px 0px 1px 0px;
    pointer-events: none;

}

.award-none {
    width: 25px;
    height: 25px;
    margin: 5px 5px 5px 5px;
}

////////
 body{
      background: #0c3c53
    }
.slider {
position: relative;
width: 350px;
margin: 50px auto;
perspective: 1000px;
padding-top: 120px;
}
.rotator {
position: absolute;
left: 0;
right: 0;
margin: auto;
width: 55%;
height: 150px;
transform-style: preserve-3d;
animation: roter 29s linear infinite;
}
.rotator:hover {
animation-play-state: paused;
}
@keyframes roter {
from {
transform: rotateY(0deg);
}
to {
transform: rotateY(360deg);
}
}
.items {
position: absolute;
height: 100%;
width: 100%;
overflow: hidden;
border: 2px solid white;
}
.items:hover img {
transform: scale(1.1);
}
.items img {
height: 100%;
width: 100%;
transition: all 3s ease;
}
.items:first-child {
transform: rotateY(calc(40deg * 1)) translateZ(300px);
}
.items:nth-child(2) {
transform: rotateY(calc(40deg * 2)) translateZ(300px);
}
.items:nth-child(3) {
transform: rotateY(calc(40deg * 3)) translateZ(300px);
}
.items:nth-child(4) {
transform: rotateY(calc(40deg * 4)) translateZ(300px);
}
.items:nth-child(5) {
transform: rotateY(calc(40deg * 5)) translateZ(300px);
}
.items:nth-child(6) {
transform: rotateY(calc(40deg * 6)) translateZ(300px);
}
.items:nth-child(7) {
transform: rotateY(calc(40deg * 7)) translateZ(300px);
}
.items:nth-child(8) {
transform: rotateY(calc(40deg * 8)) translateZ(300px);
}
.items:nth-child(9) {
transform: rotateY(calc(40deg * 9)) translateZ(300px);
}
